.sideBarWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    transition: 0.4s;
}

.sidebarMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 7px;

}

.sideBarMenuItemfalse {
    width: 100%;
    padding: 6px 10px;
    border-radius: 12px;
    max-width: 237px;
}

.sideBarMenuItemtrue {
    padding: 6px 10px;
    border-radius: 12px;
    max-width: 237px;
}

.sidebarContant {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.sidebarContant>img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.sidebarContant>p {
    margin: 0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}