.main__deal {
  width: 80%;
  height: max-content;
  /* border: 2px solid black; */
  padding: 10px;
  margin: auto;
}

.main__deal input,
textarea {
  width: 40%;
  border: 1px solid grey;
  margin: 10px;
  padding: 8px;
  border-radius: 4px;
}
textarea {
  width: 95%;
  margin-left: 1%;
}

fieldset {
  border: 1px solid grey;
  border-radius: 5px;
  /* display: flex; */
  flex-wrap: wrap;
  padding: 20px;
  margin: 1rem 0;

  justify-content: center;
}
legend {
  color: grey;
  font-weight: bold;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-state {
  width: max-content;
  font-size: 2rem;
  margin: 2rem auto;
  animation: hourglass 1.5s linear infinite;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes hourglass {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 
.Blog_Form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Blog_Form input {
  flex: 1;
  background-color: whitesmoke;
}

.Blog_Form input,
button {
  margin: 1rem;
  outline: none;
  padding: 0.8rem;
  border: 1px solid #dddada;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}

.Blog_Form button {
  flex: 1;
  cursor: pointer;
  background-color: #000c12;
  color: white;
}

.Blog_TextContent {
  display: flex;
  justify-content: center;
}

.Blog_TextContent textarea {
  flex: 1;
  margin: 1rem;
  padding: 2rem;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #dddada;
  border-radius: 8px;
  background-color: whitesmoke;
} */ ;
