.navbarWrapper {
  width: 100%;
  height: 87px;
  background-color: #ffff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 18px 18px 38px;
}

.navbarLogo {

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.navbarLogo>img {
  filter: drop-shadow(0 0 0.75rem #5570F1);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navMenu {
  display: flex;
  /* padding-left: 73px; */
  gap: 28px;
  align-items: center;
  margin-left: 40px;
}

.navMenuName {
  color: var(--Second-text-color, #737373);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin: 0;
}

.navbarProfile {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.notificationsection {
  padding: 0 12px;
}

.vertical {
  width: 2px;
  height: 32px;
  border: 1px solid #e3e3e3;
  background: #e3e3e3;
}

.notification {
  background-color: #f5f7fa;
  padding: 12px 13px;
  border-radius: 50%;
  object-fit: cover;
}

img {
  object-fit: cover;
}

.notificationheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.notificationheader>h3 {
  color: #232323;
  font-family: Inter;
  font-size: 22.667px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.notificationlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notifybox {
  padding: 20px !important;
  position: relative !important;
  display: flex;
  padding: 10px !important;
  border-radius: 12px !important;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px) !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.notifybox>p {
  padding: 0;
}

.content {
  width: 95%;
}

.cross {
  width: 5%;
}

.info {
  text-wrap: wrap;
  color: #232323;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.date {
  margin: 5px 0 0 0;
  color: #1814F3;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
}